<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/../fragments/head :: head('Página Administrativa')}"></th:block>
<body>
    <th:block th:replace="~{/../fragments/head :: navbar}"></th:block>

    <div id="form" class="container col-10 mt-5">
        <th:block th:replace="~{/../fragments/head :: voltar}"></th:block>

        <h1 class="mb-5 text-center">Log de Reproduções</h1>
        <div th:if="${#lists.isEmpty(logList)}">
            <p class="text-center">Não há logs cadastrados no historico de reproduções.</p>
        </div>
        <div th:if="${not #lists.isEmpty(logList)}">
            <div class="table-responsive">
                <table border='1' class="col table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="col-1">ID</th>
                        <th>URL da Música</th>
                        <th>Data Reprodução</th>
                        <th class="col-1">Deletar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="log : ${logList}">
                        <td th:text="${log.id_logReproducao}"></td>
                        <td th:text="${log.musica.url}"></td>
                        <td th:text="${#temporals.format(log.data_reproducao, 'dd/MM/yyyy [HH:mm:ss]')}"></td>
                        <td><a class="btn btn-danger" role="button" th:href="@{/adm/historico/delete/{id_logReproducao}(id_logReproducao=${log.id_logReproducao})}">Deletar</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>