<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/../fragments/headAdmin :: head('Página Administrativa')}"></th:block>
<body>
    <th:block th:replace="~{/../fragments/headAdmin :: navbar}"></th:block>

    <div id="form" class="container col-10 mt-5">
        <th:block th:replace="~{/../fragments/head :: voltar}"></th:block>

        <h1 class="mb-5 text-center">Usuários</h1>

        <div th:if="${erroApi}" class="error-message" th:text="${erroApi}"></div>
        <div th:text="${msg}" class="mb-3 text-danger"></div>

        <form action="#" th:action="@{/adm/usuarios/saveEdit}" th:object="${usuario}" method="POST">
            <div class="mb-3">
                <input type="hidden" th:field="*{idUsuario}" />

                <label for="nome" class="form-label">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" th:field="*{nome}">
                <p th:if="${#fields.hasErrors('nome')}" th:errorclass="text-danger" th:errors="*{nome}"/>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" name="email" th:field="*{email}" placeholder="email@iftm.edu.br">
                <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger" th:errors="*{email}"/>
            </div>

            <div class="mb-3">
                <label for="selectPerfil" class="form-label">Perfil:</label>
                <select class="form-select input" id="selectPerfil" name="selectPerfil" th:field="*{roles}">
                    <option th:each="perfil : ${perfilList}"
                            th:value="${perfil.id_perfil}"
                            th:text="${perfil.nome}">
                    </option>
                </select>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-success" type="submit" id="btnSalvar">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>