<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/../fragments/headAdmin :: head('Página Administrativa')}"></th:block>
<body>
<th:block th:replace="~{/../fragments/headAdmin :: navbar}"></th:block>

<div id="form" class="container col-10 mt-5">
    <th:block th:replace="~{/../fragments/head :: voltar}"></th:block>

    <h1 class="mb-5 text-center">Listagem de Usuários</h1>
    <div th:if="${#lists.isEmpty(usuarioList)}">
        <p class="text-center">Não há usuários cadastrados. <a th:href="@{/adm/usuarios/create}" class="link-info">Clique aqui</a> para cadastrar um usuário.</p>
    </div>
    <div th:if="${not #lists.isEmpty(usuarioList)}">
        <div class="table-responsive">
            <table border='1' class="col table table-striped table-hover">
                <thead>
                <tr>
                    <th class="col-1">ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Senha Criptografada</th>
                    <th>Foto de Perfil</th>
                    <th>Notificações</th>
                    <th>Data Criação</th>
                    <th class="col-1">Editar</th>
                    <th class="col-1">Deletar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario : ${usuarioList}">
                    <td th:text="${usuario.id_usuario}"></td>
                    <td th:text="${usuario.nome}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.senha}" style="word-wrap: break-word;min-width: 160px;max-width: 150px;"></td>
                    <td th:text="${usuario.url_foto_perfil}"></td>
                    <td th:text="${usuario.notificacoes_ativas ? 'Ativado' : 'Desativado'}"></td>
                    <td th:text="${#temporals.format(usuario.data_criacao, 'dd/MM/yyyy [HH:mm:ss]')}"></td>
                    <td><a class="btn btn-warning" role="button" th:href="@{/adm/usuarios/edit/{id_usuario}(id_usuario=${usuario.id_usuario})}">Editar</a></td>
                    <td><a class="btn btn-danger" role="button" th:href="@{/adm/usuarios/delete/{id_usuario}(id_usuario=${usuario.id_usuario})}">Deletar</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>