<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/../fragments/head :: head('Acesso Negado')}"></th:block>
<body>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 text-danger">403</h1>

        <p class="lead">Acesso Negado</p>
        <p class="mb-4">Você não tem permissão para acessar este recurso.</p>

        <a href="/" class="btn btn-primary">Página Inicial</a> &nbsp
        <a href="javascript:history.back()" class="btn btn-outline-primary">Página Anterior</a>
    </div>
</div>
</body>
</html>