<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/../fragments/headAdmin :: head('Página Administrativa')}"></th:block>
<body>
    <th:block th:replace="~{/../fragments/headAdmin :: header}"></th:block>

    <div id="form" class="container col-10 mt-5">
        <h1 class="mb-5 text-center">Listagem de Alarmes</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id_alarme</th>
                <th scope="col">horario_programado</th>
                <th scope="col">dias_semana</th>
                <th scope="col">ativo</th>
                <th scope="col">pausado</th>
                <th scope="col">data_criacao</th>
                <th scope="col">data_modificacao</th>
                <th scope="col">etiqueta</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="alarme : ${alarmeList}">
                <td scope="row" th:text="${alarme.id_alarme}"></td>
                <td scope="row" th:text="${alarme.horario_programado}"></td>
                <td scope="row" th:text="${alarme.dias_semana}"></td>
                <td scope="row" th:text="${alarme.ativo}"></td>
                <td scope="row" th:text="${alarme.pausado}"></td>
                <td scope="row" th:text="${alarme.data_criacao}"></td>
                <td scope="row" th:text="${alarme.data_modificacao}"></td>
                <td scope="row" th:text="${alarme.etiqueta}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>