<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/../fragments/headAdmin :: head('Página Inicial')}"></th:block>
<body>
    <th:block th:replace="~{/../fragments/headAdmin :: header}"></th:block>

    <div id="form" class="container col-10 mt-5">
    <h1 class="mb-5 text-center">Alarmes</h1>
    <div class="mb-3">
      <input type="text" class="input" id="txtID" hidden>

      <label for="selectEtiqueta" class="form-label">Etiqueta</label>
      <select class="form-select input" id="selectEtiqueta"></select>

      <!-- <label for="txtIDEtiqueta" class="form-label">ID Etiqueta</label>
      <input type="text" class="form-control input" id="txtIDEtiqueta" placeholder=""> -->
    </div>
    <div class="mb-3">
      <label for="txtHorario" class="form-label">Horário Programado</label>
      <input type="time" class="form-control input" id="txtHorario" placeholder="">
    </div>
    <div class="mb-3">
      <label for="txtDias" class="form-label">Dias da Semana</label>
      <input type="text" class="form-control input" id="txtDias" placeholder="2,3,6">
    </div>
    <div class="mb-3">
      <label for="selectAtivo" class="form-label">Situação</label>
      <select class="form-select input" id="selectAtivo">
        <option value="true">Ativado</option>
        <option value="false">Desativado</option>
      </select>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn btn-success" onclick="salvar()" id="btnSalvar">Salvar</button>
        <button class="btn btn-success" onclick="salvarEdicao()" id="btnEditar" style="display: none;">Editar</button>
        <button class="btn btn-primary" onclick="listar()">Listar</button>
        <button class="btn btn-danger" onclick="resetar()" id="btnCancelar" style="display: none;">Cancelar</button>
      </div>
      <div class="col-4" id="mensagem"></div>
    </div>

    <hr>

    <div id="listagem"></div>


    </div>

    <footer>
        <script th:src="@{/js/alarmes.js}"></script>
    </footer>
</body>
</html>