<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/../fragments/headAdmin :: head('Página Inicial')}"></th:block>
<body>
<th:block th:replace="~{/../fragments/headAdmin :: header}"></th:block>

  <div id="form" class="container col-10 mt-5">
    <h1 class="mb-5 text-center">Histórico</h1>
    <div class="mb-3">
      <input type="text" class="input" id="txtID" hidden>

      <label for="selectMusicas" class="form-label">Música</label>
      <select class="form-select input" id="selectMusicas"></select>
    </div>

    <div class="mb-3" hidden>
      <select class="form-select" id="selectMusicas"></select>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn btn-success" type="submit" onclick="salvar()" id="btnSalvar">Salvar</button>
        <button class="btn btn-success" type="submit" onclick="salvarEdicao()" id="btnEditar" style="display: none;">Editar</button>
        <button class="btn btn-primary" onclick="listar()">Listar</button>
        <button class="btn btn-danger" type="reset" onclick="viewResetar()" id="btnCancelar" style="display: none;">Cancelar</button>
      </div>
      <div class="col-4" id="mensagem"></div>
    </div>
    
    <hr>

    <div id="listagem"></div>
    
  </div>

  <footer>
    <script th:src="@{/js/historico.js}"></script>
  </footer>
</body>
</html>