<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/../fragments/head :: head('Alarmes')}"></th:block>
<body>
    <th:block th:replace="~{/../fragments/head :: navbar}"></th:block>

    <div id="form" class="container col-10 mt-5">
        <th:block th:replace="~{/../fragments/head :: voltar}"></th:block>

        <h1 class="mb-5 text-center">Listagem de Alarmes</h1>
        <div th:if="${#lists.isEmpty(alarmeList)}">
            <p class="text-center">Não há alarmes cadastrados. <a th:href="@{/alarmes/create}" class="link-info">Clique aqui</a> para cadastrar um alarme.</p>
        </div>
        <div th:if="${not #lists.isEmpty(alarmeList)}">
            <div class="table-responsive">
                <table border='1' class="col table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="col-1">ID</th>
                        <th>Horário</th>
                        <th>Dias</th>
                        <th>Ativo</th>
                        <th>Pausado</th>
                        <th>Data Criação</th>
                        <th>Data Modificação</th>
                        <th>Etiqueta</th>
                        <th class="col-1">Editar</th>
                        <th class="col-1">Deletar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="alarme : ${alarmeList}">
                        <td th:text="${alarme.idAlarme}"></td>
                        <td th:text="${alarme.horarioProgramado}"></td>
                        <td th:text="${alarme.diasSemana}"></td>
                        <td th:text="${alarme.ativo ? 'Sim' : 'Não'}"></td>
                        <td th:text="${alarme.pausado ? 'Sim' : 'Não'}"></td>
                        <td th:text="${#temporals.format(alarme.dataCriacao, 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td th:text="${#temporals.format(alarme.dataModificacao, 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td th:text="${alarme.etiqueta.nome + ' (' + alarme.etiqueta.duracao + ' min)'}"></td>
                        <td><a class="btn btn-warning" role="button" th:href="@{/alarmes/edit/{idAlarme}(idAlarme=${alarme.idAlarme})}">Editar</a></td>
                        <td><a class="btn btn-danger" role="button" th:href="@{/alarmes/delete/{idAlarme}(idAlarme=${alarme.idAlarme})}">Deletar</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>