<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/../fragments/head :: head('Pausas Programadas')}"></th:block>
<body>
    <th:block th:replace="~{/../fragments/head :: navbar}"></th:block>

    <div id="form" class="container col-10 mt-5">
        <th:block th:replace="~{/../fragments/head :: voltar}"></th:block>

        <h1 class="mb-5 text-center">Listagem de Pausas Programadas</h1>
        <div th:if="${#lists.isEmpty(pausaList)}">
            <p class="text-center">Não há pausas cadastradas. <a th:href="@{/pausas/create}" class="link-info">Clique aqui</a> para cadastrar um pausa.</p>
        </div>
        <div th:if="${not #lists.isEmpty(pausaList)}">
            <div class="table-responsive">
                <table border='1' class="col table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="col-1">ID</th>
                        <th>Data e Hora de início</th>
                        <th>Data e Hora de término</th>
                        <th>Ativo</th>
                        <th>Data Criação</th>
                        <th class="col-1">Editar</th>
                        <th class="col-1">Deletar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pausa : ${pausaList}">
                        <td th:text="${pausa.idPausa}"></td>
                        <td th:text="${#temporals.format(pausa.dataHoraInicio, 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td th:text="${#temporals.format(pausa.dataHoraFim, 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td th:text="${pausa.ativo ? 'Sim' : 'Não'}"></td>
                        <td th:text="${#temporals.format(pausa.dataCriacao, 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td><a class="btn btn-warning" role="button" th:href="@{/pausas/edit/{idPausa}(idPausa=${pausa.idPausa})}">Editar</a></td>
                        <td><a class="btn btn-danger" role="button" th:href="@{/pausas/delete/{idPausa}(idPausa=${pausa.idPausa})}">Deletar</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>