<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/../fragments/head :: head('ADMIN - Perfis')}"></th:block>
<body>
    <th:block th:replace="~{/../fragments/head :: navbar}"></th:block>

    <div id="form" class="container col-10 mt-5">
        <th:block th:replace="~{/../fragments/head :: voltar}"></th:block>

        <h1 class="mb-5 text-center">Listagem de Perfis</h1>
        <div th:if="${#lists.isEmpty(perfilList)}">
            <p class="text-center">Não há perfis cadastrados. <a th:href="@{/adm/perfis/create}" class="link-info">Clique aqui</a> para cadastrar um perfil.</p>
        </div>
        <div th:if="${not #lists.isEmpty(perfilList)}">
            <div class="table-responsive">
                <table border='1' class="col table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="col-1">ID</th>
                        <th>Nome</th>
                        <th class="col-1">Editar</th>
                        <th class="col-1">Deletar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="perfil : ${perfilList}">
                        <td th:text="${perfil.idPerfil}"></td>
                        <td th:text="${perfil.nome}"></td>
                        <td><a class="btn btn-warning" role="button" th:href="@{/adm/perfis/edit/{idPerfil}(idPerfil=${perfil.idPerfil})}">Editar</a></td>
                        <td><a class="btn btn-danger" role="button" th:href="@{/adm/perfis/delete/{idPerfil}(idPerfil=${perfil.idPerfil})}">Deletar</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>