<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/../fragments/head :: head('Etiquetas')}"></th:block>
<body>
    <th:block th:replace="~{/../fragments/head :: navbar}"></th:block>

    <div id="form" class="container col-10 mt-5">
        <th:block th:replace="~{/../fragments/head :: voltar}"></th:block>

        <h1 class="mb-5 text-center">Etiquetas</h1>
        <div th:if="${erroApi}" class="error-message" th:text="${erroApi}"></div>
        <form action="#" th:action="@{/etiquetas/save}" th:object="${etiqueta}" method="POST">
            <div class="mb-3">
                <input type="hidden" th:field="*{idEtiqueta}" />

                <label for="txtNome" class="form-label">Nome da Etiqueta</label>
                <input type="text" class="form-control input" id="txtNome" th:field="*{nome}" placeholder="">
                <p th:if="${#fields.hasErrors('nome')}" th:errorclass="text-danger" th:errors="*{nome}" />
            </div>
            <div class="mb-3">
                <label for="txtDuracao" class="form-label">Duração dos Alarmes</label>
                <input type="number" class="form-control input" id="txtDuracao" th:field="*{duracao}" placeholder="">
                <p th:if="${#fields.hasErrors('duracao')}" th:errorclass="text-danger" th:errors="*{duracao}" />
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-success" type="submit" id="btnSalvar">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>