<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/../fragments/head :: head('Sugestões')}" sec:authorize="hasAnyAuthority('Admin', 'Funcionário')"></th:block>
<body>
    <th:block th:replace="~{/../fragments/head :: navbar}" sec:authorize="hasAnyAuthority('Admin', 'Funcionário')"></th:block>

    <div id="form" class="container col-10 mt-5">
        <th:block th:replace="~{/../fragments/head :: voltar}"></th:block>

        <h1 class="mb-5 text-center">Sugestões Pendentes</h1>
        <div th:if="${#lists.isEmpty(sugestaoList)}">
            <p class="text-center">Não há sugestões cadastradas.</p>
        </div>
        <div th:if="${not #lists.isEmpty(sugestaoList)}">
            <div class="table-responsive">
                <table border='1' class="col table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="col-1">ID</th>
                        <th>Usuário</th>
                        <th>URL</th>
                        <th>Status</th>
                        <th>Data Sugestão</th>
                        <th>Data Análise</th>
                        <th class="col-1">Reproduzir</th>
                        <th class="col-1">Aceitar</th>
                        <th class="col-1">Negar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sugestao : ${sugestaoList}">
                        <td th:text="${sugestao.id_sugestao}"></td>
                        <td th:text="${sugestao.usuario.nome}"></td>
                        <td th:text="${sugestao.url_sugerida}"></td>
                        <td th:text="${sugestao.status_sugestao}"></td>
                        <td th:text="${#temporals.format(sugestao.data_sugestao, 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <div th:if="${sugestao.data_analise == null}">
                            <td th:text="Aguardando"></td>
                            <td><a class="btn btn-primary" role="button" th:href="@{/sugestoes/reproduzir/{id_sugestao}(id_sugestao=${sugestao.id_sugestao})}">Reproduzir</a></td>
                            <td><a class="btn btn-success" role="button" th:href="@{/sugestoes/save/musica/{id_sugestao}/{status_sugestao}(id_sugestao=${sugestao.id_sugestao}, status_sugestao=${'Deferido'})}">Aceitar</a></td>
                            <td><a class="btn btn-danger" role="button" th:href="@{/sugestoes/editStatus/{id_sugestao}/{status_sugestao}(id_sugestao=${sugestao.id_sugestao}, status_sugestao=${'Indeferido'})}">Negar</a></td>
                        </div>
                        <div th:if="${sugestao.data_analise != null}">
                            <td th:text="${#temporals.format(sugestao.data_analise, 'dd/MM/yyyy HH:mm:ss')}"></td>
                            <td><a class="btn btn-primary" role="button" th:href="@{/sugestoes/reproduzir/{id_sugestao}(id_sugestao=${sugestao.id_sugestao})}">Reproduzir</a></td>
                            <td>Analisado</td>
                            <td>Analisado</td>
                        </div>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>