<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:replace="~{/../fragments/head :: head('Sugestões')}"></th:block>
<body>
    <th:block th:replace="~{/../fragments/head :: navbar}"></th:block>

    <div id="form" class="container col-10 mt-5">
        <th:block th:replace="~{/../fragments/head :: voltar}"></th:block>

        <h1 class="mb-5 text-center">Listagem de Sugestões</h1>
        <div th:if="${#lists.isEmpty(sugestaoList)}">
            <p class="text-center">Não há sugestões cadastradas. <a th:href="@{/sugestoes/adm/create}" class="link-info">Clique aqui</a> para cadastrar um sugestão.</p>
        </div>
        <div th:if="${not #lists.isEmpty(sugestaoList)}">
            <div class="table-responsive">
                <table border='1' class="col table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="col-1">ID</th>
                        <th>Usuário</th>
                        <th>URL</th>
                        <th>Status</th>
                        <th>Data Sugestão</th>
                        <th>Data Análise</th>
                        <!-- <th class="col-1">Reproduzir</th> -->
                        <th class="col-1">Deletar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sugestao : ${sugestaoList}">
                        <td th:text="${sugestao.id_sugestao}"></td>
                        <td th:text="${sugestao.usuario.nome}"></td>
                        <td th:text="${sugestao.url_sugerida}"></td>
                        <td th:text="${sugestao.status_sugestao}"></td>
                        <td th:text="${#temporals.format(sugestao.data_sugestao, 'dd/MM/yyyy HH:mm:ss')}"></td>
                        <td th:text="${sugestao.data_analise != null ? #temporals.format(sugestao.data_analise, 'dd/MM/yyyy HH:mm:ss') : 'Aguardando'}"></td>
                        <!-- <td><a class="btn btn-primary" role="button" th:href="@{/adm/musicas/play/{id_musica}(id_musica=${musica.id_musica})}">Reproduzir</a></td> -->
                        <td><a class="btn btn-danger" role="button" th:href="@{/sugestoes/adm/delete/{id_sugestao}(id_sugestao=${sugestao.id_sugestao})}">Deletar</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>