<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/../fragments/head :: head('Erro')}"></th:block>
<body>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <h1 class="display-1 text-danger">404</h1>

            <p class="lead">Página Não Encontrada</p>
            <p class="mb-4">A página que você tentou acessar não existe ou foi movida.</p>

            <a href="/" class="btn btn-primary">Página Inicial</a> &nbsp
            <a href="javascript:history.back()" class="btn btn-outline-primary">Página Anterior</a>
        </div>
    </div>
</body>
</html>